a:focus, 
a:hover, 
a:active {
	color: #a2c753;
}

.color-green {
	color: #a2c753;
}

a.read-more:hover { 
	color:#a2c753;
}

.linked:hover {
	color:#a2c753;
}

/*Slider
------------------------------------*/
.da-slide h2 i {
    background-image: none;
    background-color: #a2c753;
    background-color: rgba(162, 199, 83, 0.7);
}

/*Purchase
------------------------------------*/
.purchase a.btn-buy {
	background:#a2c753;
	text-shadow:0 1px 0 #51a00b;		
}
.purchase a.btn-buy:hover {
	background:#68af28;
} 

/*Buttons
------------------------------------*/
.btn-o {
	background: #a2c753;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.btn-o:hover {
	background: #5fb611;
}

/*Service
------------------------------------*/
.service i {
	color:#a2c753;
}

/*Welcome Block*/
.servive-block .span4 h4 a:hover {
	color:#a2c753;
}

.servive-block .span4:hover h4,
.servive-block .span4:hover i {
	color:#a2c753;
}
.servive-block-in .span4 i {
	/*color:#a2c753;*/
}

.servive-block .icon-wrapper {
    background-color: #a2c753;
}
.servive-block .span4:hover {}

/*Service Blocks*/
.service-alternative .service:hover { 
	background:#a2c753;
} 

/*Thumbnail (Recent Work)
------------------------------------*/
.thumbnail-style:hover {}
.thumbnail-style h3 a:hover {
	color:#a2c753;
}

.thumbnail-style a.btn-more {
	background:#a2c753;
}
.thumbnail-style a.btn-more:hover {
	box-shadow:0 0 0 2px #377500;
}

/*Carousel (Recent Work)*/
.recent-work a:hover span {
	border-bottom:solid 2px #a2c753;
}

.bx-wrapper .bx-prev {
	background-image: url(../../plugins/bxslider/images/controls.png);
}
.bx-wrapper .bx-next {
	background-image: url(../../plugins/bxslider/images/controls.png);
}

/*Typography
------------------------------------*/
/*Heading*/
.headline h3, 
.headline h4 {}

/*Blockquote*/
blockquote:hover {
	border-left-color:#a2c753;
}

.hero {
	border-left-color: #a2c753;
}

/*Carousel
------------------------------------*/
.carousel-arrow a.carousel-control:hover {
	color: #a2c753;
}

/*Footer
------------------------------------*/
.footer a,
.copyright a,
.footer a:hover,
.copyright a:hover {
	color: #a2c753;
}

/*Footer Blog*/
.footer .dl-horizontal a:hover {
	color:#a2c753 !important;
}

.footer .address i {
    color:#a2c753;
}

/*Blog Posts
------------------------------------*/
.posts .dl-horizontal:hover { 
	/*border-right:solid 2px #a2c753;*/
}
.posts .dl-horizontal a:hover { 
	color:#a2c753;
}
.posts .dl-horizontal:hover dt img,
.posts .dl-horizontal:hover dd a { 
	color:#a2c753;
	border-color:#a2c753 !important;
}

/*Tabs
------------------------------------*/
.nav-tabs li.active a, 
.nav-tabs li.active a:hover,
.nav-tabs > .active > a, 
.nav-tabs > .active > a:hover, 
.nav-tabs > .active > a:focus { 
	background:#a2c753;
}
.nav-tabs > li > a:hover { 
	background:#a2c753;
}

/*Accardion
------------------------------------*/
.acc-home a.active,
.acc-home a.accordion-toggle:hover { 
	background-color: #a2c753;
}

.acc-home-2 a.active i,
.acc-home-2 a.accordion-toggle:hover i {
    background-color: #a2c753;
}

/*Testimonials
------------------------------------*/
.testimonal-arrow a {
	color:#a2c753;
}
.testimonal-arrow a:hover {
	background:#a2c753 !important;
}

/*Breadcrumb
------------------------------------*/
.breadcrumbs {
    background-color: #a2c753;
}

/*About Page
------------------------------------*/
.team .thumbnail-style:hover h3 a {
	color:#a2c753 !important;
}

/*Social Icons*/
.team ul li i:hover {
	background:#a2c753;
}	

/*Pricing Page
------------------------------------*/
/*Pricing Head*/
.pricing:hover h4 {
	color:#A2C753;
}

.pricing-head h3 {
	background:#A2C753;
	text-shadow:0 1px 0 #32a20f;
}
.pricing-head h4 {
	color:#999;
	background:#fbfef2;
	border-bottom:solid 1px #f5f9e7;
}
	
/*Pricing Content*/
.pricing-content li {
	border-bottom:solid 1px #f5f9e7;
}
.pricing-content li i {
	color:#a2c753;
}

/*Pricing Footer*/
.pricing-footer a,
.pricing-footer button {
	background:#a2c753;
	text-shadow:0 1px 0 #38b312;
}
.pricing-footer a:hover,
.pricing-footer button:hover {
	background:#40ba1a;
}

/*Priceing Active*/
.price-active h4 {
	color:#A2C753;
}

.no-space-pricing .price-active .pricing-head h4,
.no-space-pricing .pricing:hover .pricing-head h4 {
	color:#A2C753;
}

/*Right Sidebar
------------------------------------*/
/*Right Sidebar*/
.who li i,
.who li:hover i, 
.who li:hover a { 
	color:#a2c753;
}

/*Privacy Page
------------------------------------*/
.privacy a:hover {
	color:#a2c753;
}

/*Portfolio Page
------------------------------------*/
.sort li a:hover {
    background-color: #a2c753;
}
.sort li a.selected {}

.view a.info:hover {
	background: #a2c753;
}

/*Blog Page
------------------------------------*/
.blog h3 {
	color:#a2c753;
}
.blog li a:hover {
	color:#a2c753;
}

/*Blog Tags*/
ul.blog-tags a:hover,
ul.blog-tags a:hover i {
    background-color:#a2c753;
}

/*Blog Ads*/
.blog-ads li img:hover {
	box-shadow:0 0 0 4px #a2c753;
}

/*Blog Latest Tweets*/
.blog-twitter p a {
	color:#a2c753;
}

/*Blog Item Page
------------------------------------*/
.blog-item h4.media-heading span a {
	color:#a2c753;
}

/*Coming Soon Page
------------------------------------*/
.coming-soon-border {
	border-top: solid 3px #a2c753;
}

/*Search Page
------------------------------------*/
.booking-blocks p a {
	color: #a2c753;
}

/*Icons Page
------------------------------------*/
.icon-page li:hover { 
	color:#a2c753;
}

/*Input shadow color
------------------------------------*/
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color: rgba(162, 199, 83, 0.8);
    -webkit-box-shadow: 0 0 3px rgba(162, 199, 83, 0.3);
    -moz-box-shadow: 0 0 3px rgba(162, 199, 83, 0.3);
    box-shadow: 0 0 3px rgba(162, 199, 83, 0.3);
}

/*Back to top*/
#topcontrol:hover {
    color: #a2c753;
}

/*Image Rollover Borders*/
.thumbnail-style:hover .theHoverBorder{
    -webkit-box-shadow: 0 0 0 5px rgba(162, 199, 83, 0.7) inset;
    -moz-box-shadow: 0 0 0 5px rgba(162, 199, 83, 0.7) inset;
    box-shadow: 0 0 0 5px rgba(162, 199, 83, 0.7) inset;
}

/*Pegination*/
.pagination ul > li > a:hover,
.pagination ul > li > a:focus,
.pagination ul > .active > a,
.pagination ul > .active > span {
    background-color: #a2c753;
}

.zoomer .overlay-zoom .zoom-icon {
    opacity:0;
    filter: alpha(opacity = 0);
}
.zoomer:hover .overlay-zoom .zoom-icon {
    opacity:0.7;
    filter: alpha(opacity = 65);
}
.overlay-zoom .zoom-icon{
    background-color: #a2c753;
}
.portfolio-columns .span3,
.portfolio-columns .span4,
.portfolio-columns .span6 {
    background-color: #a2c753 !important;
}
