/*Top Bar (login, search etc.)
------------------------------------*/
.top {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #2F2F2F;
}
.top .container {
    padding:0 15px;
}

.phone-mail {
    margin:0 20px 0 0;
    padding:0;
    z-index:9999;
    list-style:none;
    position:relative;
    float: left;
}
.phone-mail li {
    display:inline;
    list-style:none;
    padding-bottom:15px;
    margin-right: 5px;
}
.phone-mail i {
    font-size:11px;
    margin-top:3px;
    margin-right: 3px;
    color:#999;
}
.phone-mail li span {
    color:#7c8082;
    font-size:11px;
    font-family: 'Roboto', sans-serif;
}

.loginbar {
    margin:0;
    padding:0;
    z-index:9999;
    list-style:none;
    position:relative;
    float: right;
}

@media (max-width: 480px) {
    .loginbar {
        float: left;
    }
}

.loginbar li {
    display:inline;
    list-style:none;
}

.loginbar li a,
.loginbar li a:hover {
    color:#7c8082;
    font-size:11px;
    font-family: 'Roboto', sans-serif;
}

.loginbar li.devider {
    top:-1px;
    padding:0;
    font-size:8px;
    position:relative;
    margin:0 6px 0 2px;
    font-family:Tahoma;
    border-right:solid 1px #bbb;
}

.loginbar i {
    color:#999;
    font-size:18px;
    margin-top:3px;
    cursor:pointer;
}

/*Lenguages*/
.loginbar li ul {
    top:18px;
    margin:0;
    left:-6px;
    display:none;
    padding-top:4px;
    position:absolute;
    border-radius:3px;
    padding-bottom:4px;
    background:#f0f0f0;
}

.loginbar li:hover ul {
    display:block;
}

.loginbar li ul li {
    padding-bottom:0;
    display:list-item;
    position:relative;
    margin-bottom:1px;
}

.loginbar li ul li a {
    color:#555;
    display:block;
    min-width:85px;
    font-size:10px;
    padding:2px 12px;
    background:#f0f0f0;
    text-decoration:none;
}

.loginbar li ul li a:hover,
.loginbar li ul li.active a {
    opacity:1 !important;
    color:#555 !important;
    font-size:10px !important;
    text-shadow:none !important;
    background:#fafafa !important;
}

.loginbar li ul li.active i {
    top:2px;
    right:-5px;
    font-size:14px;
    cursor:default;
    position:absolute;
    text-shadow:0 1px 0 #e9e9e9;
}

.loginbar i.icon-globe {
    color:#bbb;
    font-size:13px;
    margin:3px 3px 0 0;
}

.loginbar li i.icon-sort-up {
    top:21px;
    left:-1px;
    color:#eee;
    display:none;
    font-size:14px;
    cursor:default;
    position:absolute;
}

.loginbar li:hover i.icon-sort-up {
    display:block;
}

.loginbar li:hover i.icon-ok {
    top:-2px;
    color:#aaa;
}

/*Header (logo and menu)
------------------------------------*/
.header {
	background:#4B4C4D ;
	border-bottom:solid 1px #eee;
}

.header .container {
	position:relative;
}

.logo {
	float:left;
	margin-left:5px;
	padding:17px 0 10px;
}

/*Menu*/
.navbar, 
.navbar-inner, 
.nav,
.navbar-inverse {
	margin:0;	
	padding:0;
	border:none;
	filter:none !important;
	background:#4B4C4D !important;
	-webkit-box-shadow:none;
       -moz-box-shadow:none;
            box-shadow:none;
}

.navbar-inner {
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.navbar .nav {
	margin-right:0;
}
.navbar .nav > li { 
	display:block; 
	position:relative;
}
.navbar .nav > li { display:block;}
.navbar .nav > li > a {
	font-size: 16px;
	color: #fff;
	display:block;
	text-shadow: none;
	margin-left:1px;
	padding:22px 18px 19px;
    -webkit-transition:all 0.4s ease-in-out;
    -moz-transition:all 0.4s ease-in-out;
    -o-transition:all 0.4s ease-in-out;
    transition:all 0.4s ease-in-out;
}
.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
	background:#2F2F2F !important;
  	color:#fff;
}
.navbar .nav > .active > a,
.navbar .nav > .active > a:focus {
  	color: #fff !important;	
  	text-decoration: none;
  	background-color: #a2c753 !important;
  	-webkit-box-shadow: none;
       -moz-box-shadow: none;
          	box-shadow: none;
}
.navbar .nav > .active > a:hover {	
	background: #a2c753 !important;
  	color: #fff !important;
  	-webkit-box-shadow: none;
       -moz-box-shadow: none;
          	box-shadow: none;
}
.navbar .nav > li > a .caret {
  border-top-color: #fff !important;	
  border-bottom-color: #fff !important;
  margin:12px 0 0 2px !important;
}

.dropdown-menu { 
	background:#4B4C4D;
	min-width:195px;
	padding:0; 
	margin:0 0 0 1px; 
	border:none; 
	border-radius:0; 
	border-bottom:solid 1px #2F2F2F;
	border-top:solid 1px #2F2F2F;
    border-top:none;
	z-index:99999;
}

.dropdown-menu a { 
	font-size:13px;
	color:#fff !important; 
	padding:8px 15px !important; 
	border-bottom:solid 1px #525354;
}

.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
	color: #ffffff;
	background: #2F2F2F !important;
	-webkit-transition:all 0.2s ease-in-out;
	-moz-transition:all 0.2s ease-in-out;
	-o-transition:all 0.2s ease-in-out;
	-ms-transition:all 0.2s ease-in-out;
	transition:all 0.2s ease-in-out;
	filter:none !important;
}

.dropdown-menu .active > a {
	color: #ffffff !important;
  	background: #3c495a !important;
	filter:none !important;
}
.dropdown-menu .active > a:hover {
  	color: #ffffff !important;
  	background: #3c495a !important;	
}

.collapse.in ul { 
	margin-top:10px !important; 	
}
.collapse.in li a { 
	padding:5px 10px;
	color:#fff !important;
}

.navbar .btn-navbar {
	padding:10px 15px;
	margin-top: 18px;
	background:#a2c753;
	border:none !important;	
}
.navbar .btn-navbar:hover {
	background:#5fb611;
}
.navbar .btn-navbar span, 
.navbar .btn-navbar:hover span {
	font-size:60px;
	background:#fff !important;
	box-shadow:none !important;
}
.navbar .nav > li > .dropdown-menu:after { 
	border-bottom-color:#4B4C4D;
}

/*Tabs*/
.nav-tabs.tabs { 
	background:none !important;
}

/*Serach*/
.navbar .nav li a.search-nav {
	background:#484848 !important;
	cursor:pointer;
}
.navbar .nav li a.search-nav:hover {
	background:#a2c753 !important;
}
.navbar .nav li a.search-nav:hover i {
	color:#fff;
}
.navbar .nav li i.icon-search {
	font-size:18px;
	color:#999;
}

.navbar .search-open {
	right:0; 
	top:67px; 
	padding:15px; 
	display:none;
	z-index:99999; 
	position:absolute; 
	background:#585f69; 
}

.navbar .search-open form,
.navbar .search-open .input-append {
	margin:0 !important;	
}

.navbar a.search i.icon-remove {
	font-size:19px;
	padding-left: 1px;	
	padding-right: 1px;	
}
/*Sticky Menu*/
#undefined-sticky-wrapper {}
.is-sticky {
    width: 100%;
    background-color: #4b4c4d;
    background-color: rgba(75, 76, 77, 1);
    /*position: fixed;*/
    z-index: 9999;
}
.is-sticky .logo {
    top:-1px;
    padding-top: 6px;
    padding-bottom: 4px;
}
.is-sticky .header .navbar .nav > li {
    margin-top: 0;
}
.is-sticky .navbar .nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
}
.is-sticky .navbar .nav > li > a.search {
    margin-top: 2px !important;
    padding: 8px 12px 10px;
}
.is-sticky .navbar .search-open {
    top: 46px;
}
