/*Top Bar (login, search etc.)
------------------------------------*/
.top {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #E9E9E9;
}
.top .container {
    padding:0 15px;
}

.phone-mail {
    margin:0 20px 0 0;
    padding:0;
    z-index:9999;
    list-style:none;
    position:relative;
    float: left;
}
.phone-mail li {
    display:inline;
    list-style:none;
    padding-bottom:15px;
    margin-right: 5px;
}
.phone-mail i {
    font-size:11px;
    margin-top:3px;
    margin-right: 3px;
    color:#999;
}
.phone-mail li span {
    color:#7c8082;
    font-size:11px;
    font-family: 'Roboto', sans-serif;
}

.loginbar {
	margin:0;
	padding:0;
	z-index:9999;
	list-style:none;
	position:relative;
    float: right;
}

@media (max-width: 480px) {
    .loginbar {
        float: left;
    }
}

.loginbar li {
	display:inline;
	list-style:none;
}

.loginbar li a,
.loginbar li a:hover {
	color:#7c8082;
	font-size:11px;
    font-family: 'Roboto', sans-serif;
}

.loginbar li.devider { 
	top:-1px;
	padding:0;
	font-size:8px;
	position:relative;
	margin:0 6px 0 2px;
	font-family:Tahoma;
	border-right:solid 1px #bbb;
}

.loginbar i {
	color:#999;
	font-size:18px;
	margin-top:3px;
	cursor:pointer;
}

/*Lenguages*/
.loginbar li ul { 
	top:18px;
	margin:0;
	left:-6px;
	display:none; 
	padding-top:4px;
	position:absolute; 
	border-radius:3px;
	padding-bottom:4px;
	background:#f0f0f0;
}

.loginbar li:hover ul { 
	display:block; 
}

.loginbar li ul li { 
	padding-bottom:0;
	display:list-item;
	position:relative;
	margin-bottom:1px;
}

.loginbar li ul li a { 
	color:#555;
	display:block;
	min-width:85px; 
	font-size:10px;
	padding:2px 12px;
	background:#f0f0f0;
	text-decoration:none;
}

.loginbar li ul li a:hover, 
.loginbar li ul li.active a {
	opacity:1 !important;
	color:#555 !important;
	font-size:10px !important;
	text-shadow:none !important;
	background:#fafafa !important;
}

.loginbar li ul li.active i {
	top:2px;
	right:-5px;
	font-size:14px;
	cursor:default;
	position:absolute;
	text-shadow:0 1px 0 #e9e9e9;
}

.loginbar i.icon-globe {
	color:#bbb;
	font-size:13px;
	margin:3px 3px 0 0;
}

.loginbar li i.icon-sort-up {
	top:21px; 
	left:-1px;
	color:#eee;
	display:none;
	font-size:14px;
	cursor:default;
	position:absolute;
}

.loginbar li:hover i.icon-sort-up {
	display:block;
}

.loginbar li:hover i.icon-ok {
	top:-2px;
	color:#aaa;
}

/*Header (logo and menu)
------------------------------------*/
.header {
	z-index:999;
	position:relative;
    /*padding: 20px 0;*/
}

.header .container {
	position:relative;
    padding: 0 15px;
}

.logo {
	position:absolute;
	top:15px;
	left:0;
}

/*Menu*/
.navbar, 
.navbar-inner, 
.nav,
.navbar-inverse {
	/*background:#fff;*/
	background: transparent;
	filter:none;
	border:none;
	padding:0;
	margin:0 !important;
	-webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
}

@media (max-width: 979px) {
    .logo {
        position: relative;
        float: left;
    }
    .navbar {
        margin: 20px 0 !important;
    }
}

.nav i.icon-sort-up { 
	position:absolute; 
	font-size:13px;
	bottom:-6px;
}

.header .navbar-inner {
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.header .navbar .nav {

}

.header .navbar .nav > li {
	display:block; 
	position:relative;
    margin-top: -2px;
    margin-left: 2px;
}
.header .navbar .nav > li > a {
	display:block;
	font-size:15px;
	font-weight:bold;
    text-transform: uppercase;
	color: #3a3a3a;
	text-shadow:none;
	padding:30px 20px;
    font-family: 'Roboto', sans-serif;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}
.header .navbar .nav > li:last-child{
    margin-left: 10px;
}
.header .navbar .nav > li.active > a,
.header .navbar .nav > li.open > a,
.header .navbar .nav > li > a:hover {
    background-color: #f9f9f9;
}

.header .navbar .nav > li > a {
    border-top: solid 2px transparent;
}
.header .navbar .nav > li.active > a,
.header .navbar .nav > li.open > a,
.header .navbar .nav > li > a:hover {
    border-top: solid 2px #a2c753;
}

.collapse.in ul { 
	margin-top:10px !important;
}

.collapse.in li a { 
	padding:0 10px;
	border-bottom:solid 1px #eee;
	background:none;
}

.collapse.in li a:hover,
.collapse.in li a.dropdown-toggle { 
	border-bottom:solid 1px #a2c753;
	background:none;
}

.collapse.in ul.dropdown-menu {
	margin-bottom:5px;
}

.collapse.in ul.dropdown-menu a {
	padding:5px;
	border-bottom:solid 1px #bbb; 
}

.nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a {
	margin:0 !important;
	/*border-radius:0 !important;*/
}

.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
  	color:#a2c753;
	/*border-bottom:solid 2px #a2c753;*/
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:focus {
  	color:#a2c753;
  	text-decoration:none;
	/*border-bottom:solid 2px #a2c753;*/
  	background:none;	
  	-webkit-box-shadow:none;
       -moz-box-shadow:none;
          	box-shadow:none;
}

.navbar .nav > .active > a:hover {	
  	color:#a2c753;
	background:none;		
	/*border-bottom:solid 2px #a2c753;*/
  	-webkit-box-shadow:none;
       -moz-box-shadow:none;
          	box-shadow:none;
}

/*Arrow for menu*/
.navbar .nav > li > a .caret {
  margin:9px 0 0 3px !important;	
  border-top-color: #a2c753!important;
  border-bottom-color: #a2c753 !important;
    display: none;
}

/*Dropdown Menu*/
.dropdown-menu { 
	padding:1px 0 0 0;
	border:none;
	margin-top:-2px; 
	min-width:200px;
	border-radius:3px;
	border-top:solid 2px #a2c753;
	border-bottom:solid 2px #687074; 
	z-index: 9999 !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.dropdown-menu li:first-child a {border-radius:3px 3px 0 0;}
.dropdown-menu li:last-child a {border-radius:0 0 3px 3px;}
.dropdown-menu li a {
	color:#353535;
	font-size:13px; 
	font-weight:400; 
	padding:6px 15px;
	border-bottom:solid 1px #f7f7f7;
    /*
    background: #ffffff;
    background: -moz-linear-gradient(90deg, #ffffff 15%, #f7f7f7);
    background: -webkit-linear-gradient(90deg, #ffffff 15%, #f7f7f7);
    background: -o-linear-gradient(90deg, #ffffff 15%, #f7f7f7);
    background: -ms-linear-gradient(90deg, #ffffff 15%, #f7f7f7);
    background: linear-gradient(180deg, #ffffff 15%, #f7f7f7);
    */
    background-color: #F9F9F9;
}
.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
    color:#ffffff;
    -webkit-transition:all 0.2s ease-in-out;
    -moz-transition:all 0.2s ease-in-out;
    -o-transition:all 0.2s ease-in-out;
    transition:all 0.2s ease-in-out;
    background:#687074 !important;
    filter:none !important;
}

.dropdown-menu .active > a {
	color:#ffffff !important;
  	background:#687074 !important;
	filter:none !important;
}

.navbar .btn-navbar {
	padding:10px 15px;
	margin-top:1px;
	margin-right:0;
	background:#a2c753;
	border:none !important;	
}
.navbar .btn-navbar:hover {
	background:#5fb611;
}
.navbar .btn-navbar span, 
.navbar .btn-navbar:hover span { 
	background:#fff !important;
	box-shadow:none !important;
}

.navbar .nav > li > .dropdown-menu:after {
	left:19px;
}
.navbar .nav > li > .dropdown-menu:before {
	left:18px;
	border-bottom:none;
}
.navbar .nav > li > .dropdown-menu:after {
	left:19px;
	border-top-color: #a2c753 !important;
	border-bottom-color: #a2c753 !important;
}

/*Serach*/
.navbar .search-open {
	right:0; 
	top:77px;
	display:none;
	padding:15px; 
	position:absolute; 
	background:#f7f7f7;
    border-radius: 3px;
    border-top: solid 2px #a2c753;
    border-bottom:solid 2px #687074;
}

.navbar .search-open form,
.navbar .search-open .input-append {
	margin:0 !important;
}

.navbar .search-open .input-append input {
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.navbar .search-open .input-append .btn-o {
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}

.navbar a.search i.icon-remove {
	top:2px;
	font-size:18px;
	position:relative;
}

.navbar .nav > li > a.search {
	color:#aaa;
	cursor:pointer;
	background:#f7f7f7;
	padding:8px 12px 10px !important;
	border-bottom-color:#aaa;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
    width: 18px;
    text-align: center;
    border: none;
    margin-top: 23px !important;
}
.navbar .nav > li > a.search:hover {
	color:#a2c753;
    border: none !important;
}

.navbar .nav > li > a.search .search-btn {
    width: 15px;
}

@media (max-width: 979px) {
    .header .navbar .nav > li {
        margin-top: 0;
    }
    .header .navbar .nav > li > a {
        padding: 9px 15px;
    }
    .header .navbar .nav > li > a {
        border-top: none;
    }
    .header .navbar .nav > li.active > a,
    .header .navbar .nav > li.open > a,
    .header .navbar .nav > li > a:hover {
        border-top: none;
    }
    .dropdown-menu {
        border-top:none;
        border-bottom:none;
    }
    .header .nav-collapse .nav > li > a,
    .header .nav-collapse .dropdown-menu a {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
    }
}

/*Fancybox for gallery page*/
.fancybox-overlay.fancybox-overlay-fixed {
	z-index:9999;
}
/*Sticky Menu*/
#undefined-sticky-wrapper {}
.is-sticky {
    width: 100%;
    background-color: #ffffff;
    background-color: rgba(255, 255, 255, 0.95);
}
.is-sticky .logo {
    /*display: none;*/
    top:-1px;
}
.is-sticky .header .navbar .nav > li {
    margin-top: 0;
}
.is-sticky .navbar .nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
}
.is-sticky .navbar .nav > li > a.search {
    margin-top: 2px !important;
    padding: 8px 12px 10px;
}
